footer{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    background-color: #F4EDE5;
    padding: 15px 0 15px 0;
    font-size: 14px;
    box-shadow: -1px 8px 28px 8px rgba(165, 165, 165, 0.2);
}

@media screen and (max-width: 680px){
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 14px;
    }
}